---
name: test
on:
  pull_request: {}
  push:
    branches: [main]
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
env:
  DEBIAN_FRONTEND: noninteractive
  TZ: 'Asia/Tokyo'
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - uses: golangci/golangci-lint-action@v3
  test:
    strategy:
      matrix:
        os: ['ubuntu-latest', 'macOS-latest', 'windows-latest']
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'
    - uses: actions/cache@v4
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - run: go test -v ./...